@page "/"

<input style="width: 100%;" @bind="@url" />
<br />
<br />
<img style="width: 50px;opacity: @ControlsOpacity;" @onclick="Rewind" src="rewind.png" />
<img style="width: 50px;opacity: @PlayOpacity;" @onclick="PlayAudio" src="play.png" />
<img style="width: 50px;opacity: @ControlsOpacity;" @onclick="PauseAudio" src="pause.png" />
<img style="width: 50px;opacity: @ControlsOpacity;" @onclick="StopAudio" src="stop.png" />
<img style="width: 50px;opacity: @ControlsOpacity;" @onclick="Forward" src="ffwd.png" />
<br />
<br />
<progress id="fileProgress" style="width: 100%; height: 50px;" max="100" value="@Percentage"></progress>
<br />
<div> @AudioMessage @PlayPosition</div>

